* {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    
}

nav {
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

nav ul li a {
    text-decoration: none;
}

.section-title {
    text-align: center;
    align-items: center;
    font-size: 2rem;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

h1, h2 {
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer ul li {
    display: inline;
    padding: 10px;
}

.social-icon {
    font-size: 25px;
}